<style></style>
{{ reviewModel | json }}
<div class="container col-md-6 mt-5">
  <form #formName="ngForm" (ngSubmit)="addReview()" novalidate>
    <div class="mb-3">
      <input
        type="text"
        name="fname"
        placeholder="Enter your first name"
        class="form-control"
        [(ngModel)]="reviewModel.fname"
        #fname="ngModel"
        required
        [class.is-valid]="fname.valid"
        [class.is-invalid]="fname.invalid && fname.touched"
        pattern="^[a-zA-Z]+(?:-[a-zA-Z]+)*$"
      />
      <small class="invalid-feedback">The first name is not valid</small>
      <small class="valid-feedback">The first name is valid</small>
    </div>

    <div class="mb-3">
      <input
        type="text"
        name="lname"
        placeholder="Enter your last name"
        class="form-control"
        [(ngModel)]="reviewModel.lname"
        #lname="ngModel"
        required
        [class.is-valid]="lname.valid"
        [class.is-invalid]="lname.invalid && lname.touched"
        pattern="^[a-zA-Z]+(?:-[a-zA-Z]+)*$"
      />
      <small class="invalid-feedback">The last name is not valid</small>
      <small class="valid-feedback">The last name is valid</small>
    </div>

    <div class="mb-3">
      <input
        type="text"
        name="email"
        ngModel
        placeholder="Enter your email address"
        class="form-control"
        [(ngModel)]="reviewModel.email"
        #email="ngModel"
        required
        [class.is-valid]="email.valid"
        [class.is-invalid]="email.invalid && email.touched"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />

      <small class="invalid-feedback">The email is not valid</small>
      <small class="valid-feedback">The email is valid</small>
    </div>

    <div class="mb-3">
      <input
        type="text"
        name="image"
        ngModel
        placeholder="Add image link"
        class="form-control"
        [(ngModel)]="reviewModel.image"
        #image="ngModel"
        required
        [class.is-valid]="image.valid"
        [class.is-invalid]="image.invalid && image.touched"
        pattern="^[a-z][a-z\d.+-]*:\/*(?:[^:@]+(?::[^@]+)?@)?(?:[^\s:/?#]+|\[[a-f\d:]+])(?::\d+)?(?:\/[^?#]*)?(?:\?[^#]*)?(?:#.*)?$"
      />

      <small class="invalid-feedback">The image link is not valid</small>
      <small class="valid-feedback">The image link is valid</small>
    </div>

    <div class="mb-3">
      <textarea
        name="textarea"
        ngModel
        class="form-control"
        placeholder="Add your review"
        class="form-control"
        [(ngModel)]="reviewModel.textarea"
        #textarea="ngModel"
        required
        [class.is-valid]="textarea.valid"
        [class.is-invalid]="textarea.invalid && textarea.touched"
        pattern="^[a-zA-Z\s]*$"
        maxlength="250"
      >
      </textarea>
      <small class="invalid-feedback">The review is not valid</small>
      <small class="valid-feedback">The review is valid</small>
      <!-- /^([A-Za-z0-9]+.[A-Za-z0-9]+(\r)?(\n)?)+$/ -->
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" [disabled]="formName.form.invalid">Submit your review</button>
    </div>
  </form>
  <div *ngFor="let review of allReviews">{{ review.fname }}
    <br><img [src]="review.image" width="200" height="200" style="border-radius: 50%"></div>

</div>

<router-outlet></router-outlet>
