@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;;
  font-size: 50px;
  color: burlywood;
}

.card-title{
  color: burlywood;
}

img {
  margin-bottom: 10px;
}
